.topo_home {
	background-image: url("../img/rectangle9.png");
	height: 100%;
	max-height: 800px;
	background-size: cover;
	background-position: center bottom;
}

.cabecalho_menu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cor_letras_menu:hover {
	text-decoration: underline;
}
  
.caixa_redes {
	padding-right: 11px;
	display: flex;
	justify-content: end;
}

.letras_rectangle9_primeira{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-top: 200px;
}

.letras_rectangle9_segunda{
	font-size: 25px;
	text-align: center;
}

.botao_saiba_mais {
	margin-top: 90px;
	text-align:center;
}

.botao_saiba_mais2 {
	margin-top: 35px;
	text-align:center;
}

.botao_saiba_mais3 {
	text-align:center;
}

.letra_titulos_recursos {
	font-size: 25px;
	text-align: center;
}

.letra_titulos_recursos2 {
	font-size: 20px;
	color: rgb(61, 61, 61);
	text-align: center;
	padding-top: 20px;
}

.letra_titulos_ferramenta {
	font-size: 25px;
	padding-top: 10px;
}

.letra_titulos_ferramenta2 {
	font-size: 20px;
	color: rgb(61, 61, 61);
}

.letra_titulos_ferramentapeq {
	font-size: 12px;
	color: rgb(61, 61, 61);
	padding-top: 10px;
}

.alinhamento_texto{
	text-align: left;
	vertical-align: middle;
}

.alinhamento_texto2 {
	text-align: left;
	vertical-align: middle;
}

.recurso_imagens {
	display: absolute;
}

.card-deck {
	display: flex;
}

.ajuste_box {
	height: 336px;
}

.precos {
	background-color: #5E2122;
}


/*Mobile*/

@media screen and (max-width: 798px) {
	.topo_home {
		background-image: url("../img/rectangle9.png");
		height: 100%;
		max-height: 750px;
		background-size: cover;
		background-position: center bottom;
	}
	
	.letras_rectangle9_primeira{
		font-size: 35px;
		font-weight: bold;
		text-align: center;
		margin-top: 100px;
	}
	.letras_rectangle9_segunda{
		font-size: 20px;
		text-align: center;
		margin-top: 50px;
	}



}