.top_home {
	background-image: url("../img/rectangle9.png");
	height: 100%;
	max-height: 800px;
	background-size: cover;
	background-position: center bottom;
}
.letters_main_big{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-top: 200px;
}
.letters_main_big2{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}
.letters_main_medium{
	font-size: 25px;
	text-align: center;
}
.letters_footer{
	font-size: 15px;
	font-family: Roboto;
}
.color {
	color: rgb(61, 61, 61);
}
.color_back_red {
	background-color: #5E2122;
	color: white;
}
.botao_saiba_mais {
	text-align:center;
}
html {
	scroll-padding-top: 70px;
}	


/*Mobile*/

@media screen and (max-width: 798px) {
	.top_home {
		background-image: url("../img/rectangle9.png");
		height: 100%;
		max-height: 750px;
		background-size: cover;
		background-position: center bottom;
	}
	.letters_main_big{
		font-size: 35px;
		font-weight: bold;
		text-align: center;
		margin-top: 100px;
	}
	.letters_main_medium{
		font-size: 20px;
		text-align: center;
		margin-top: 50px;
	}
}