.topo_home {
	background-image: url("../img/rectangle9.png");
	height: 1000px;
	background-position: center top;
}

.cabecalho_menu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cor_letras_menu:hover {
	text-decoration: underline;
}
  
.caixa_redes {
	padding-right: 90px;
	display: flex;
	justify-content: end;
}

.letras_rectangle9_primeira{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-top: 200px;
}

.letras_rectangle9_segunda{
	font-size: 25px;
	text-align: center;
}

.botao_saiba_mais {
	margin-top: 90px;
	text-align:center;
}

.letra_titulos {
	font-size: 40px;
	text-align: center;
}

.letra_titulos2 {
	font-size: 25px;
	color: rgb(61, 61, 61);
	text-align: center;
}

.recurso_imagens {
	display: absolute;
}

.card-deck {
	display: flex;
}

@media screen and (min-width: 0) {
	.cabecalho {
		justify-content: center;
		padding: 0 5rem;
		font-size: 1px;
	}
}

@media screen and (min-width: 768px) {
	.cabecalho {
		padding: 0 5rem;
		justify-content: space-between;
	}
}

